.raw-text {
margin-top: 10px;
text-align: justify;
text-justify: inter-word;
width: 621px;
}


.raw-text  h3 {
  text-align: center;
  color: #1FA8CF;
}


.raw-text h1 {
text-align: center;
color: #1FA8CF;
}

.raw-text p {

text-align: justify;
text-justify: inter-word;


}
