.box-fight {
  display: flex;
  flex-flow: row;
  justify-content: space-between;
  background-color: white;
  width: 60%;
  margin: auto;
  padding: 20px;
  margin-bottom: 8px;
  align-items: center;
  font-size: 20px;
  background-color: #f7f7fa;
  border-radius: 8px;
  transition: all 0.15s ease;
}

.box-fight:hover {
  background: lightgrey;
  cursor: pointer;
}

.row a {
  text-decoration: none;
  color: #333333;
}

.date-fight {
  flex: 0 0 20%;
}

.fighter-box {
  flex: 0 0 35%;
  padding: 10px;
  border-radius: 4px;
}

.winner {
  // flex: 0 0 35%;
  // padding: 10px;
  // border-radius: 4px;
  &.border-winner-index1 {
    background: #E84A5F;
    // border: 3px solid #E84A5F;
  }
  &.border-winner-index2 {
    background: #574B90;
  }
}

.index-fight {
  margin-top: 5%;
}
