.box-fight {
  display: flex;
  flex-flow: row;
  justify-content: space-between;
  background-color: white;
  width: 60%;
  margin: auto;
  padding: 15px 15px;
  margin-bottom: 8px;
  align-items: center;
  font-size: 20px;
  border-radius: 20px;
  background-color: lightgrey;
}

.border-winner-index-figth1 {
  border: 1px solid #E84A5F;
  padding: 0 10px;
}

.border-winner-index-figth2 {
  border: 1px solid #574B90;
  padding: 0 10px;
}

.index-fight {
  margin-top: 5%;
}
