.box-fight {
  display: flex;
  flex-flow: row;
  justify-content: space-between;
  background-color: white;
  width: 60%;
  margin: auto;
  padding: 20px;
  margin-bottom: 8px;
  align-items: center;
  font-size: 20px;
  background-color: #f7f7fa;
  border-radius: 6px;
  transition: all 0.15s ease;
}

.box-fight:hover {
  background: lightgrey;
  cursor: pointer;
}

.row a {
  text-decoration: none;
  color: #333333;
}

.winner {
  padding: 0 10px;
  &.border-winner-index1 {
    border: 2px solid #E84A5F;
  }
  &.border-winner-index2 {
    border: 2px solid #574B90;
  }
}

.index-fight {
  margin-top: 5%;
}
