// .hide {
//   visibility:hidden;
// }

.fighter-players {
  position: relative;
  margin-bottom: 11vh;
}

#bar-player1 {
  position: absolute;
  left: 41%;
  top: 118%;
  width: 50%;
  height: 30px;
  border: 1px solid #E84A5F;
  border-radius: 10px;
}
#progress-player1 {
  float: left;
  width: 101%;
  height: 100%;
  background-color: #E84A5F;
  border-radius: 10px;
}

.image-player1 {
  position: absolute;
  top: 0%;
  left: 23%;
}

.image-player2 {
  position: absolute;
  top: 0%;
  left: 59%;
}

#bar-player2 {
  position: absolute;
  left: 11%;
  top: 118%;
  width: 50%;
  height: 30px;
  border: 1px solid #574B90;
  border-radius: 10px;
}

#progress-player2 {
  float: right;
  width: 101%;
  height: 100%;
  background-color: #574B90;
  border-radius: 10px;
}

.containers-show-animation {
  margin-top: 7vh;
}

.containers-show-score-bar {
  margin-top: 3vh;
}

.container-show-scores {
  margin-top: 10px;
}

#player1-name {
  padding-left: 13%;
  margin: 0px;
}

/* Extra small devices (phones, less than 768px) */
/* No media query since this is the default in Bootstrap */

/* Small devices (tablets, 768px and up) */
@media (min-width: $screen-sm-min) {
  .image-player1 {
    position: absolute;
    top: 0%;
    left: 25%;
  }
  #player1-name {
  padding-left: 10%;
  }
}

/* Medium devices (desktops, 992px and up) */
@media (min-width: $screen-md-min) {
  .image-player1 {
    position: absolute;
    top: 0%;
    left: 29%;
  }
  #player1-name {
  padding-left: 8%;
  }
}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: $screen-lg-min) {  }
