<div class='result-item' data-id='<%= insta_user.id %>'>
  <%= image_tag insta_user.profile_picture, width: '60', class: 'insta-avatar' %><%= insta_user.first_name %><%= insta_user.username %>
</div>
