
<div class="container raw-text min-height">
  <h1>What the F*** is Super-Battle?</h1><br>
  <p>
    Super-Battle is a project coded during the "Full Stack Developper" programm of Le Wagon Paris.<br>
    The idea is to help Instagrammers understand how they stack up against their friends.<br>
  </p>
  <h3>How does it work?</h3><br>
  <p>
    The Instagram popularity is calculated using a perfect blend of followership, level of activity, and engagement.<br>
    You have countless followers but none of them engages with your posts? Watch out for the deadly truth of Super-Battle.<br>
  </p>
</div>
