<div class="container">
  <h1>What the F*** is Super-Battle?</h1>
  <h3>
    Super-Battle is a project coded during the "Full Stack Developper" programm of Le Wagon Paris.<br>
    The idea is to help Instagrammers understand how they stack up against their friends.<br>
  </h3>
  <h2>How does it work?</h2>
  <h3>
    The Instagram popularity is calculated using a perfect blend of followership, level of activity, and engagement.<br>
    You have countless followers but none of them engages with your posts? Watch out for the deadly truth of Super-Battle.<br>
  </h3>
</div>
