<h1 class="text-center"> Welcome on superbattle </h1>

<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-4">
        <div class="text-center" style="margin-top: 40px" >
          <form action="/insta_users" method="POST">
           <input name="challenger" type="text" placeholder="Challenger" >

        </div>
    </div>
    <div class="col-xs-12 col-sm-4">
        <%= video_tag('battle3.mp4', class: "styled_video_container", autoplay: true, loop: true, size: "320x200") %>
    </div>
    <div class="col-xs-12 col-sm-4">
        <div class="text-center" style="margin-top: 40px" >

            <input name="opponent" type="text" placeholder="Opponent" >
            <button type="submit"> Go </button>
          </form>
        </div>
    </div>
  </div>
</div>

<div class="text-center">
  <%= link_to 'Start a fight', new_fight_path, class: "btn btn-primary" %>
</div>







