<h1> Hello Motherfuckers, welcome on superbattle </h1>

<%= link_to 'Start a fight', new_fight_path %>

<div class: "text-center">
  <%= image_tag "logo.png", style: "width: 200px; height: 200px" %>
</div>

