<div class="container raw-text">
  <h1>Privacy Policy - Super-Battle -</h1>
  <h3>
    Super-Battle respects the liberty of every individual visiting the site. In compliance with the French Law n° 78-17 of 6 January 1978 relative to Information Technology and Data Protection.
  </h3>
  <h2>Your privacy is important to us.</h2>
  <h3>
    It is Super-Battle’s policy to respect your privacy regarding any information we may collect while operating our website. Accordingly, we have developed this privacy policy in order for you to understand how we collect, use, communicate, disclose and otherwise make use of personal information. We have outlined our privacy policy below.<br>

    We will collect personal information by lawful and fair means and, where appropriate, with the knowledge or consent of the individual concerned.<br>

    Before or at the time of collecting personal information, we will identify the purposes for which information is being collected.<br>

    We will collect and use personal information solely for fulfilling those purposes specified by us and for other ancillary purposes, unless we obtain the consent of the individual concerned or as required by law.<br>

    Personal data should be relevant to the purposes for which it is to be used, and, to the extent necessary for those purposes, should be accurate, complete, and up-to-date.<br>

    We will protect personal information by using reasonable security safeguards against loss or theft, as well as unauthorized access, disclosure, copying, use or modification.<br>

    We will make readily available to users information about our policies and practices relating to the management of personal information.<br>

    We will only retain personal information for as long as necessary for the fulfilment of those purposes.<br>
  </h3>
  <h2>Information Collection, Use, and Sharing</h2>
  <h3>
    We only have access to information that you voluntarily give us via email, inscription form or other direct contact from you.<br>


    We will not share your information with any third party outside of our organization, other than as necessary to fulfill your request.<br>


    We collect several types of information from and about users of our Website, including information by which you may be personally identified, such as name, e-mail address, and your Instagram nickname + authentification and total of followers and any other information publicly available on your Instagram profile.<br>


    We collect this information from you when you provide it to us.<br>
  </h3>
  <h2>How We Use Your Information</h2>
  <h3>
    We use information that we collect about you or that you provide to us, including any personal information:<br>
    - To present our Website and its contents to you.<br>
    - To help you understand how you interact with your Instagram audience and potentially improve your performances on this platform.<br>
    - To personalize user’s experiences.<br>
    - To notify you about changes to our Website or any products or services we offer or provide though it.<br>
    - To allow you to participate in interactive features on our Website.<br>
    - In any other way we may describe when you provide the information.<br>
    - For any other purpose with your consent.<br>
  </h3>
  <h2>Your Access to and Control Over Information</h2>
  <h3>
    You may opt out of any future contacts from us at any time. You can do the following at any time by contacting us via our contact email address: mourot.joseph@gmail.com.<br>
    - See what data we have about you, if any.<br>
    - Change/correct any data we have about you.<br>
    - Have us delete any data we have about you.<br>
    - Express any concern you have about our use of your data.<br>
    - For any other purpose with your consent.<br>
  </h3>
  <h2>Security</h2>
  <h3>
    We take precautions to protect your information. When you submit sensitive information via the website, your information is protected both online and offline.

    Wherever we collect sensitive information, that information is encrypted and transmitted to us in a secure way.<br>
    While we use encryption to protect sensitive information transmitted online, we also protect your information offline. Only employees who need the information to perform a specific job are granted access to personally identifiable information.
  </h3>
  <h2>Updates</h2>
  <h3>
    Our Privacy Policy may change from time to time and all updates will be posted on this page.
  </h3>
</div>
