.avatar {
  width: 60px;
  border-radius: 50%;
}

.avatar:hover {
  cursor: pointer;
}

.avatar-medium {
  width: 50px;
  border-radius: 50%;
}

.avatar-fights-index {
  width: 30px;
  border-radius: 50%;
  border: 3px solid #E84A5F;
}

.avatar-large-player1 {
  width: 80px;
  border-radius: 50%;
  border: 3px solid #E84A5F;
  position: absolute;
  left: -30px;
}

.avatar-large-player2 {
  width: 80px;
  border-radius: 50%;
  border: 3px solid #574B90;
  position: absolute;
  right: -98px;
}

.avatar-bordered {
  width: 30px;
  border-radius: 50%;
  box-shadow: 0 1px 2px rgba(0,0,0,0.2);
  border: white 1px solid;
}
.avatar-square {
  width: 30px;
  border-radius: 0px;
  box-shadow: 0 1px 2px rgba(0,0,0,0.2);
  border: white 1px solid;
}

.navbar-wagon-brand {
  display: flex;
  max-width: 100%;
}

.navbar-wagon-brand img {
  width: 200px;
    position: absolute;
    left: 10px;
    top: 0;
}
