
.button-container {
  width: 300px;
  margin: auto;
  margin-top: 40px;
}

.button-start {
  border: 2px solid white;
  border-radius: 2px;
  padding: 20px;
  background-color: #ac2626;
}

.btn-zguy {
   color: white;
}
