
.button-container {
  width: 300px;
  margin: auto;
  margin-top: 40px;
}

.button-start {
  border: 2px solid white;
  border-radius: 2px;
  padding: 20px;
  background-color: #1FA8CF;
}

.btn-zguy {
  color: white;
  background-color: #1FA8CF;
  border: 0;
}
