
.card-result-player1 {
  background-color: #E84A5F;
  height: 360px;
  color: white;
  border-radius: 4px;
  padding: 10px;
  position: relative;
  margin-bottom: 30px;
}

.card-result-player1 h1 {
  position: absolute;
  margin: 0;
  bottom: 0;
  left: 0px;
  font-size: 100px;
  margin-bottom: -20px;
}

.card-result-player1 table {
  position: absolute;
  margin: 0;
  bottom: 0;
  right: 0px;
  margin-bottom: 0px;
  margin-right: 5px;
}

.card-result-player2 {
  background-color: #574B90;
  color: white;
  height: 360px;
  border-radius: 4px;
  padding: 10px;
  position: relative;
}

.card-result-player2 h1 {
  position: absolute;
  margin: 0;
  bottom: 0;
  right: 0;
  font-size: 100px;
  margin-bottom: -20px;
}

.card-result-player2 table {
  position: absolute;
  margin: 0;
  bottom: 0;
  left: 0px;
  margin-bottom: 0px;
  margin-left: 5px;
}

.table-stat table {
position: relative;
width: 300px;

}

.table-stat table td {
padding: 5px
}

