
.container-results {
  display: flex;
  min-width: 100%;
  height: 350px;
  position: relative;
}

.results-red {
  flex: 0 0 50%;
  background-color: #E84A5F;
  color: white;
  position: relative;
}

.results-red h1 {
  position: absolute;
  top: -20px;
  font-size: 80px;
  right: 160px;
  text-shadow: 2px 2px 2px black;
}

.results-red h2 {
  margin-left: 10px;
}

.results-red h3 {
  margin-left: 10px;
}

.results-blue {
  flex: 0 0 50%;
  background-color: #574B90;
  color: white;
  position: relative;
}

.results-blue h1 {
    position: absolute;
    left: 200px;
    font-size: 80px;
    top: -20px;
    left: 160px;
    text-shadow: 2px 2px 2px black;
}

.results-blue h2 {
  text-align: right;
  margin-right: 10px;
}

.results-blue h3 {
  text-align: right;
  margin-right: 10px;
}

.video-position {
  position: absolute;
  left: 508px;
}

.table-score-red i {
  font-size: 20px;
  margin: 10px;
}

.table-score-blue i {
  font-size: 20px;
  margin: 10px;
}

.table-score-blue {
  display: flex;
  justify-content: flex-end;
}

.table-score-blue table {
  text-align: right;
  width: 390px;
  font-size: 40px;
  margin-right: 65px;
  margin-top: 40px
}

.table-score-red {
  display: flex;
  justify-content: flex-start;
}

.table-score-red table {
  text-align: left;
  width: 390px;
  font-size: 40px;
  margin-left: 65px;
  margin-top: 40px
}
