.footer {
    bottom: 0;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    bottom: 0px;
    text-shadow: 2px 2px #1FA8CF;
}

.right a {
  margin-right: 20px;
  text-decoration: none;
  color: white;
  margin-bottom: 06px;
}


.raw-tex {
  margin-bottom: 10px;
}


.min-height {
min-height: 83vh;
}



