.container-form{
  display: flex;
  flex-wrap: wrap;
  flex-flow: row;
  justify-content: space-around;
  align-items: center;
  width-max: 100%;
  position: relative;
  top: 35px;
}

.card-video {
  display: flex;
  position: relative;
  margin-top: -330px;
  flex-flow: row;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  width: 400px;
}

.card-users {
  width: 350px;
  height: 70px;
}

.form-player1 {
  padding: 5px;
  border: 3px solid #E84A5F;
  border-radius: 2px;
  width: 200px;
  height: 70px;
}

.form-player2 {
  padding: 5px;
  border: 3px solid #574B90;
  border-radius: 2px;
  width: 200px;
  height: 70px;
  box-shadow: #1fa8cf;
}

@media screen and (max-width: 900px) {
  .container-form {
  position: relative;
  top: 0;
  }
}

@media screen and (max-width: 900px) {
  .card-video {
  position: relative;
  margin-top: -100px;
  }
}

@media screen and (max-width: 900px) {
  .button-container {
    margin-top: 15px;
  }
}

@media screen and (max-width: 900px) {
  .card-users {
    width: 150px;
    height: 70px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 5px;
  }
}

