.social-container {
  color: white;
  display: flex;
  flex-direction: column;
  padding: 5px;
  font-size: 30px;
  margin-top: 20px;
  margin-right: 15px;
  justify-content: space-between;
  text-shadow: 2px 2px #1fa8cf;
}

.social-container a {
  color: #3498db;
  padding: 5px;
  margin-bottom: 6px;
}

@media screen and (min-width: 900px) {
  .social-container {
    position: fixed;
    right: 0;
    top: 60px;
  }
}

@media screen and (max-width: 900px) {
  .social-container {
    margin-top: 30px;
    flex-flow: row;
    height: 90px;
    width: 200px;
    margin-right: auto;
    margin-left: auto;
  }
}

@media screen and (max-width: 900px) {
  .social-container a {
    border: 0px;
  }
}

@media screen and (max-width: 900px) {
  .social-container a i {
    color: white;
  }
}

.social-container i {
  text-shadow: 0 1px 3px rgba(0,0,0,0.6);
  color: white;
}

