.styled_video_container {
  border-radius: 50%;
  text-align: center;
  position: absolute;
  left: 16px;
  top: 8px;
}

.border-video {
  position: relative;
  width:350px;
  height:350px;
  border-radius: 50%;
  background-color: white;
  box-shadow: 2px 2px 2px black;
  border-left: 10px solid #e84a5f;
  border-top: 10px solid #e84a5f;
  border-right: 10px solid #574b90;
  border-bottom: 10px solid #574b90;
}

.card-hover {
  transition: opacity 0.4s ease;
  display: flex;
  position: absolute;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(255,255,255,0.6);
  opacity: 0;
  color: #fed149;
  border-radius: 50%;
  z-index: 10;
}

.card-hover:hover {
  a {
  color: #fed149;
  text-shadow: 2px 2px 2px #574b90;
  border:none;
  outline:none;
  }
  opacity: 1;
}

.video-position {
  display: flex;
  position: relative;
  top: -350px;
  flex-flow: row;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  width: 400px;
}

@media screen and (max-width: 900px) {
  .video-position {
    top: -110px;
  }
}
