.div-video {
  position: relative;
  display: flex;
  justify-content: space-around;
}

.styled_video_container {
  border-radius: 50%;
  text-align: center;
  position: absolute;
  left: 22px;
  top: 8px;
}

.border-video {
  position: relative;
  width:350px;
  height:350px;
  border-radius: 50%;
  background-color: white;
  box-shadow: 2px 2px 2px black;
}
